/********/
/* MENU */
/********/

#whatsapp-flutuante{
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 1000;
}
#whatsapp-flutuante a{
    opacity: 1;
}
#whatsapp-flutuante img{
    max-width: 75px;
}

@media (max-width: 700px){
    #whatsapp-flutuante{
        bottom: 20px;
        right: 20px;
    }
    #whatsapp-flutuante img{
        max-width: 65px;
    }
}