/*********/
/* SOBRE */
/*********/

#sobre{
    background-color: var(--cor-background);
    padding: 70px 30px 70px 30px !important;
    background-color: white;
}
#sobre h2{
    margin-bottom: 20px;
}

@media screen and (max-width: 575px){
    #sobre{
        margin-left: -15px;
        margin-right: -15px;
    }
}